h2= title
form(action=action method="post")
  input(name="pseudo" type="text" placeholder="pseudo")
  <br><br>
  input(name="password" type="password" placeholder="password")
  <br><br>
  button.btn.btn-info.btn-block.login(type="submit") Se connecter
